# temp files
*~

# CMake build directory
build/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

tests/*
**/.ipynb_checkpoints/

# r500 files that don't fit on github
input/opac_sample_SI_r500.h5
input/opac_sample_r500.h5
input/wasp43b/mixed_opac_sampling_r500_m-013.h5
input/wasp43b/opac_sample_SI_r500.h5